<!-- header -->
<header id="header" class="header">
  <div class="container">

    <div class="header__inner">

      <div class="head-info">
        <div class="head-info__item">
          <div class="head-menu-second">
            <div class="burger-menu">
              <div class="burger-menu-box">
                <div class="burger-menu-inner"></div>
              </div>
            </div>
            <div class="menu__item"><button class="menu__link menu__link_open-dd">All Microsoft</button></div>
          </div>
          <div class="head-search">
            <form action="#" class="form-search">
              <button class="btn-search">
                <span>Search</span>
              </button>
            </form>
          </div>
        </div>
        <div class="head-info__item head-info__item_hidden-tabl">
          <div class="logo logo_mob"><a href="#"><img src="img/logo.png" alt="logotype"></a></div>
        </div>
        <div class="head-info__item">
          <a href="#" class="head-basket">
            <span>Cart</span>
            <img src="img/shopping-cart.png" alt="icon">
          </a>
          <a href="#" class="head-door">
            <div class="head-door__name">Sign in</div>
            <div class="head-door__icon"></div>
          </a>
        </div>
      </div>
      
    
      <div class="header-navigation">
        <div class="logo logo_open-tabl"><a href="#"><img src="img/logo.png" alt="logotype"></a></div>
        <div class="head-menu">
          <div class="head-menu-cap">
            <button class="head-menu-cap__open">
              Surface
            </button>
            <a href="#" class="head-menu-cap__link">
              <span>Surface</span>
            </a>
          </div>
          <nav class="head-nav">
            <ul class="menu">
              <li class="menu__item">
                <button class="menu__link menu__link_open-dd">Computers</button>
              </li>
              <li class="menu__item menu__item_hidden-tabl menu__item_open-lap">
                <button class="menu__link menu__link_open-dd">Computers for Business</button>
              </li>
              <li class="menu__item menu__item_open-tabl">
                <button class="menu__link menu__link_open-dd">More</button>
              </li>
              <li class="menu__item menu__item_hidden-tabl">
                <button class="menu__link menu__link_open-dd">Accessories</button>
              </li>
              <li class="menu__item menu__item_hidden-tabl">
                <button class="menu__link menu__link_open-dd">Shop now</button>
              </li>
              <li class="menu__item menu__item_hidden-tabl">
                <a href="#" class="menu__link">Support</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      
    </div>

  </div>
</header>
<!-- end header -->